body {
	margin: 0px;
	padding:0;
	font-family: verdana, Helvetica, sans-serif;
	font-size: 10px;
	line-height: 1.5em;
	color: #333333;
}
h3{
	font-family: verdana, Helvetica, sans-serif;
	font-size: 14px;
	color:#000000;
}
.main_header {
	/*height: 250px;*/
	background: url(../images/header.jpg) no-repeat;
}
.main_FOOTER {
	height: 110px;
	background: url(../images/2013/BOT1.jpg) no-repeat;
	background-color:#FFFFFF;
}
.main_header2 {
	height: 25px;
	background: url(../images/LINE.jpg) no-repeat;
}
.main_header3 {
	height: 25px;
	background: url(../images/intl_scroll.jpg) no-repeat;
}
a:link, a:visited, a:active{
	font-size: 11px;
	font-weight: bold;
	
	text-decoration: none;
	color: #000000;
}
a:hover { color: #880000; text-decoration: none }

.footer{
	font-size: 11px;
	font-weight: bold;
	text-align: center;
	text-decoration: none;
	color: #666666;
}
.text1{

	font-family: verdana, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 1.5em;
	color: #333333;
	text-align: justify;
}
.textNotice{
font-family: verdana, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: normal;
	line-height: 2.5em;
	color: #333333;
	text-align: justify;
}
.text2{

	font-family: verdana, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: normal;
	line-height: 1.5em;
	color: #333333;
	text-align: justify;
}
.bigtextbld {


	font-family: Verdana, Arial, Helvetica, sans-serif ;
	font-size: 10px;
	font-weight: bold;
	color: #333333;
	text-decoration: none;
}
.bigtextbld2 {


	font-family: Verdana, Arial, Helvetica, sans-serif ;
	font-size: 12px;
	font-weight: bold;
	color: #333333;
	text-decoration: none;
}
.inputbox3 {
	font-family: Verdana, Arial, Helvetica, sans-serif ;
	font-size: 10px;
	color: #333333;
	background-color: #FFFFFF;
	border: 1px solid #C0C0C0;
	height: 13px;
	width: 100px;
	vertical-align: middle;

}
.inputbox4 {
	font-family: Verdana, Arial, Helvetica, sans-serif ;
	font-size: 14px;
	color: #333333;
	background-color: #FFFFFF;
	border: 1px solid #C0C0C0;
	height: 20px;
	width: 100px;
	vertical-align: middle;
}

.inputbox2 {
	font-family: Verdana, Arial, Helvetica, sans-serif ;
	font-size: 10px;
	color: #333333;
	background-color: #FFFFFF;
	border: 1px solid #C0C0C0;
	height: 16px;
	width: 180px;
	vertical-align: middle;

}
.inputbox1 {
	font-family: Verdana, Arial, Helvetica, sans-serif ;
	font-size: 10px;
	color: #333333;
	background-color: #FFFFFF;
	border: 1px solid #C0C0C0;
	height: 16px;
	width: 70px;
	vertical-align: middle;

}
.comments {


	font-family: Verdana, Arial, Helvetica, sans-serif ;
	font-size: 10px;

	color: #333333;
	background-color: #FFFFFF;
	border: 1px solid #C0C0C0;
	height: 60px;
	width: 250px;
	vertical-align: middle;
}
.selectboxMid1 {
	font-family: Verdana, Arial, Helvetica, sans-serif ;
	color: #333333;
	text-decoration: none;
	height: 20px;
	width: 250px;
	font-size: 10px;

}
.button3 {
	font-family: Verdana, Arial, Helvetica, sans-serif ;
	font-size: 10px;
	background-color: #E2E2E2;
	border: 1px normal #333333;
	color: #000000;
}
.button4 {
	font-family: Verdana, Arial, Helvetica, sans-serif ;
	font-size: 14px;
	background-color: #E2E2E2;
	border: 1px normal #333333;
	color: #000000;
	width: 150px;
	height:30px;
}
.button2 {
	font-family: Verdana, Arial, Helvetica, sans-serif ;
	font-size: 12px;
	background-color: #E2E2E2;
	border: 1px normal #333333;
	color: #000000;
	width: 120px;
	height:25px;
}
.button21 {
	font-family: Verdana, Arial, Helvetica, sans-serif ;
	font-size: 12px;
	background-color: #E2E2E2;
	border: 1px normal #333333;
	color: #000000;
	width: 230px;
	height:25px;
}
.gbrd1 {
	font-family: Verdana, Arial, Helvetica, sans-serif ;
	font-size: 11px;
	color: #000000;
	text-decoration: none;
	font-weight: bold;
	border: 1px solid #CCCCCC;
}
.gbrd2 {
	border: 1px solid #333333;
	font-size: 12px;
}
/*.gbrd2 td {
	font-family: Verdana, Arial, Helvetica, sans-serif ;
	font-size: 12px;
	color: #000000;
	text-decoration: none;
	font-weight: normal;
	border: 1px solid #333333;
	vertical-align: middle;
}*/
.mtextblack{
	font-family: Verdana, Arial, Helvetica, sans-serif ;
	color: #000000;
	text-decoration: none;
	vertical-align: middle;
	font-size: 11px;
	font-weight: bold;
}
.mtextblacklight{
	font-family: Verdana, Arial, Helvetica, sans-serif ;
	color: #000000;
	text-decoration: none;
	vertical-align: middle;
	font-size: 13px;
	font-weight: normal;
}